@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F0F;
  --foreground: #171717;

  --content-background: #0B0B0B;
  --border-color: #2C2C2C;
  --lobby-card: #1E1E1E;
  --accent1: #46B4F8;
  --accent1-2: #2189ca;
  --accent2: #F8BA46;
  --accent2-2: #bc8a2c;

  --radius-1: 20px;

  --realms-text-light: #FFFFFF;
  --realms-text-light-grey: #AEAEAE;
  --realms-text-grey: #898989;
  --realms-text-dark-grey: #515151;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.body-container {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/background-pattern.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain; /* Adjust as needed */
}

.main-content-container {
  background-color: var(--content-background);
  border-radius: var(--radius-1);
  height: 100%;
  padding: 20px;
  color: var(--realms-text-light);
}

.mt-20 {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px;
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
  --bs-btn-color: var(--accent1);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--accent1);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--accent1);
  --bs-btn-hover-border-color: var(--accent1);
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--accent1-2);
  --bs-btn-active-border-color: var(--accent1-2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--accent1);
  --bs-btn-disabled-border-color: var(--accent1);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--accent1);
  --bs-btn-border-color: var(--accent1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--accent1-2);
  --bs-btn-hover-border-color: var(--accent1-2);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--accent1);
  --bs-btn-disabled-border-color: var(--accent1);
}

.btn-secondary {
  --bs-btn-color: var(--accent1);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--accent1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--accent1-2);
  --bs-btn-hover-border-color: var(--accent1-2);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--accent1);
  --bs-btn-disabled-border-color: var(--accent1);
}

.btn-warning {
  --bs-btn-color: var(--accent2);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--accent2);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--accent2);
  --bs-btn-hover-border-color: var(--accent2);
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--accent2-2);
  --bs-btn-active-border-color: var(--accent2-2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: var(--accent2);
  --bs-btn-disabled-border-color: var(--accent2);
}

.btn-start {
  --bs-btn-color: var(--background);
  --bs-btn-bg: var(--accent2);
  --bs-btn-border-color: var(--accent2);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--accent2);
  --bs-btn-hover-border-color: var(--accent2);
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--accent2-2);
  --bs-btn-active-border-color: var(--accent2-2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: var(--accent2);
  --bs-btn-disabled-border-color: var(--accent2);
}

.btn-join {
  --bs-btn-color: var(--background);
  --bs-btn-bg: var(--accent2);
  --bs-btn-border-color: var(--accent2);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--accent2);
  --bs-btn-hover-border-color: var(--accent2);
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--accent2-2);
  --bs-btn-active-border-color: var(--accent2-2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: var(--accent2);
  --bs-btn-disabled-border-color: var(--accent2);
  padding: 5px 10px;
  font-size: 14px
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  color: var(--border-color);
  pointer-events: none;
  background-color: var(--realms-text-dark-grey);
  border-color: var(--realms-text-dark-grey);
  opacity: var(--bs-btn-disabled-opacity);
}

/* --------------- Sidenav --------------- */

.navbar-logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 80px 0;
}

hr {
  border-color: var(--border-color);
}

.navbar-user {
  padding: 10px 0px 10px 25px;
}

.navbar-user div p.name {
  color: var(--realms-text-light);
}

.navbar-user div p.type {
  color: var(--realms-text-dark-grey);
}

.notifications-count {
  position: absolute;
  top: -5px;
  right: -5px;
}

.notifications-dropdown {
  position: absolute;
  width: 250px;
  background-color: var(--lobby-card);
  border-radius: 10px;
  top: 0;
  right: -260px;
  border: 1px solid var(--realms-text-dark-grey);
}

.notifications-dropdown hr {
  border-color: var(--realms-text-dark-grey);
  opacity: 1;
}

.notification-header {
  padding: 10px 20px;
}
.notifications-item-container {
}

.notification-item {
  align-self: center;
  border-bottom: 1px solid var(--realms-text-dark-grey);
  padding: 10px 20px;
  font-weight: 200;
}

.notification-item strong {
  font-weight: 700;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item div {
  align-self: center;
}

.notification-timestamp {
  color: var(--realms-text-dark-grey);
}

/* --------------- lobby Page --------------- */

.lobby-card {
  background-color: var(--lobby-card);
  padding: 20px;
  border-radius: 20px;
}

.lobby-now-playing {
  border-radius: 10px;
  border: 1px solid var(--realms-text-grey);
  padding: 20px;
  color: var(--realms-text-grey);
  text-transform: uppercase;
}

.lobby-now-playing p {
  font-size: 14px;
  font-weight: 200;
}

.lobby-now-playing p strong {
  font-weight: 700;
}

.lobby-now-playing h3 {
  font-size: 16px;
  font-weight: 400;
}

.lobby-code {
  background-color: var(--accent1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

.lobby-code p {
  font-weight: 200;
}

.lobby-code strong {
  font-weight: 700;
}

.roomcode {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.roomcode span {
  flex: 1;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.lobby-setting{
  background-color: var(--accent2);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--background);
}

.list-group {
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-bg: var(--bs-body-bg);
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: var(--bs-border-radius);
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
  --bs-list-group-action-active-color: var(--bs-body-color);
  --bs-list-group-action-active-bg: var(--bs-secondary-bg);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
  margin-top: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 15px 20px;
  color: var(--realms-text-light-grey);
  text-decoration: none;
  background-color: transparent;
  border: var(--bs-list-group-border-width) solid var(--realms-text-grey);
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--realms-text-light-grey);
  pointer-events: auto;
  background-color: var(--lobby-card);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--realms-text-dark-grey);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--realms-text-dark-grey);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--realms-text-light);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--realms-text-dark-grey);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: var(--realms-text-light);
  background-color: transparent;
  border-color: var(--accent2);
  outline: 0;
  box-shadow: none;
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23AEAEAE'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: .375rem;
  opacity: var(--bs-btn-close-opacity);
}